@import 'colours';

html, body {
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

a {
  color: colour(Link__text);
  &:hover {
    color: colour(Link__text-hover);
  }
  &:active {
    color: colour(Link__text-down);
  }
}